#main-calculator {
  text-align: center;
  margin: 4% auto;
  width: 350px;
  height: 30%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#display-screen {
  border: 1px solid black;
  border-radius: 10px;
  text-align: right;
  margin: 20px;
}

#calculation:empty:not(:focus)::before {
  content: attr(data-placeholder);
  margin-right: 10px;
}

#c {
  width: 150px;
}

.btn {
  text-align: center;
  border: none;
  font-size: 70px;
  width: 70px;
  height: 90px;
  margin: 3px;
}

.numbers {
  text-align: center;
  border: none;
  font-size: 70px;
  width: 70px;
  height: 90px;
  margin: 3px;
}
